<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHubService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/HubService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHubService" contract="UnityContainer.IHubService"
                name="BasicHttpBinding_IHubService" />
        </client>
    </system.serviceModel>
</configuration>